name: Java Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      #      - name: Checkout code
      #        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'microsoft'
          java-version: '17'

      - name: Build and package Java application
        run: mvn clean package

      #      - name: Set up Alibaba Cloud CLI
      #        uses: aikin-vip/setup-aliyun-cli@v2.0.0
      #        with:
      #          access-key-id: ${{ secrets.ALIYUN_ACCESS_KEY_ID }}
      #          access-key-secret: ${{ secrets.ALIYUN_ACCESS_KEY_SECRET }}
      #          region: 'cn-hangzhou'

      #      - name: Connect to ECS instance
      #        run: aliyun ecs Connect --instance-name i-bp150eywwgmb4t05ji2l
      #
      #      - name: Upload JAR file to ECS instance
      #        run: |
      #          #          aliyun oss cp ./target/orion-admin-0.0.1.jar oss://<YOUR_BUCKET_NAME>/orion-admin-0.0.1.jar
      #               aliyun ecs UploadFile --instance-name i-bp150eywwgmb4t05ji2l --local-path ./target/orion-admin-0.0.1.jar --remote-path /home/admin/orion-admin-0.0.1.jar

#      - name: Deploy Java application on ECS instance
#        run: |
#          mv ./target/orion-admin-0.0.1.jar /opt/orion-admin/orion-admin-0.0.1.jar
